// Gradient variable
$gradient: to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%);
// Color variables
$color-blue-gray-very-light: hsl(240, 78%, 98%);
$color-blue-gray-light: hsl(234, 14%, 74%);
$color-blue-gray: hsl(233, 13%, 49%);
$color-blue-gray-dark: hsl(232, 13%, 33%);
// Font-stack variable
$font-stack: 'Montserrat', sans-serif;